.card {
    background-color: white;
    border: 1px;
    border-style: solid;
    border-color: rgba(165, 165, 165, 0.500);
    width: 360px;
}

.card__body {
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px;
    border-top: 0px;
    border-style: solid;
    border-color: rgba(165, 165, 165, 0.500);
    padding: 20px;
    padding-bottom: 0px;
    height: 200px;
    background-color: inherit;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal !important;
}

.card__footer {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 2px;
}

.card__footer-date{
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    font-weight: bold;
    color: rgb(107, 107, 107);
}

.card__footer-type
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: bold;
    color: rgb(6, 6, 86);
}

h1{
    font-size: 20px;
}

h2{
    font-size: 14px;
}