.Nitin-card-bg{
    font-weight: 550;
}
.slds-card__header, .suggestionSubjectText{
    color: rgb(0, 95, 178); 
}
.class_footer{
    color: grey;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.slds-button{
    color:rgb(81, 79, 77);
    background: rgb(243, 242, 242);
    padding-left: small;
}

.richTextClass{
    color: rgb(81, 79, 77);
}
.slds_card{
    font-weight: 550;
}
.icn{
    color: yellowgreen;
}