.listBody{
    background-color: white;
}
.sortButton{
    text-align: center;
    display:flex;
    padding-left: 30%;
}
.buttonBox{
    display:flex;
    text-align: center;
}
.buttonBoxGrid{
    padding-left: 5%;
}