.listBody{
    background-color: white;
}
.sortButton{
    text-align: center;
    display:flex;
    padding-left: 28%;
    font-family: var(--c-myFontFamily);
}
.buttonBox{
    display:flex;
    text-align: center;
}
.buttonBoxGrid{
    padding-left: 5%;
}

.slds-button_neutral{
    color: black;
}
.highlightBtn{
    background-color:#007CBA;
    color: white;
}

.activebtn{
    background-color:#007CBA;
    color: white;
}
