.listBody{
    background-color: white;
}
.sortButton{
    text-align: center;
    display:flex;
    padding-left: 28%;
    font-family: var(--c-myFontFamily);
}
.buttonBox{
    display:flex;
    text-align: center;
}
.buttonBoxGrid{
    padding-left: 5%;
}